/* AutoComplete */
div.suggestions {
    left: 1px; 
    top: 95px; 
    min-width: 226.667px; 
    border-radius: 3px; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px; 
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0% 0%; 
    padding: 2px 0px; 
    font-size: 90%; 
    position: fixed; 
    overflow: auto; 
    max-height: 50%;
}
div.suggestions > div {
    background: white none repeat scroll 0% 0%;
}
div.suggestions > div.suggestion-active {
    background-color: #f1f1f1;
}

/* Default input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.body {
    margin: auto;
    max-width: 1280px;
}

.image-thumbnail{
    max-height: 2rem;
}

.datepickers-for-chart .react-datepicker-wrapper {
    width: 75%;
}

.loading-spin {
    animation: spin-animation 4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@-moz-keyframes spin-animation {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(500deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotate(-720deg);
    }
}

/*
    xs <  576
    sm >= 576
    md >= 768
    lg >= 992
    xl >= 1200
*/

/* For sm and less  */
@media (max-width: 576px) {
    body * { 
        font-size: 0.8rem !important;
    }
    .body {
        padding: 0 !important;
    }
    .login-form {
        width: 100%
    }
}

/* For sm and more  */
@media (min-width: 576px) {
    .login-form {
        width: 50%
    }
}

/* For md and more  */
@media (min-width: 768px) {
    .border-md-right {
        border-right: 1px solid;
    }
}

/* For lg and more  */
@media (min-width: 992px) {
    .login-form {
        width: 33%
    }
}